<footer class="footer">
    <div class="container-sl mx-5">
        <div class="row align-items-center">
            
            <!-- Left Section: Name -->
            <div class="col-6 text-start">
                <p class="ps-2 pt-2 footer-text">2025. Atieh Ameri.</p>
            </div>

            <!-- Right Section: Social Icons -->
            <div class="col-6 text-end px-2">
                <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer" id="social-icon">
                    <i class="bi bi-linkedin pe-3"></i>
                </a>

                <a href="https://github.com" target="_blank" rel="noopener noreferrer" id="social-icon">
                    <i class="bi bi-github"></i>
                </a>
            </div>
        </div>
    </div>
</footer>